<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="<%= require('~images/favicon.ico')%>" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4941429999466589",
        enable_page_level_ads: true
    });
    </script>
</head>
<body>
    <div id="root">{{injectHtml}}</div>
    <script>{{injectScript}}</script>
</body>
</html>