@import "./const.less";

.wrap{
    margin-top: @navH;
    display: flex;
    justify-content: center;
}
.main{
    max-width: 700*@px;
    flex: 1;
}
.aside{
    width: 240*@px;
    margin-left: 22*@px;
    @media (max-width: 700px){
        display: none;
    }
}