@import "./const.less";

.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    // z-index: 10;
    background-color: #fff;
}
.bar{
    max-width: 100%;
    width: 1022*@px;
    height: @navH;
    margin: 0 auto;
    .km{
        height: 32*@px;
        width: 40*@px;
        margin-right: 10*@px;
        .imgset('~images/km');
    }
    .slogan{
        &:hover{
            color: @active-color;
            text-decoration: underline;
        }
        font-size: 16*@px;
    }
    .about:hover{
        text-decoration: underline;
    }

    @media (max-width: 700px){
        padding: 0 10*@px;
    }
}

.wrap{
    margin-top: @navH;
    padding-top: 10*@px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &.home{
        margin-top: 2*@navH;
    }
}
.main{
    width: 100%;
    position: relative;
    max-width: 700*@px;
    flex: 1;
    background-color: #fff;
}
.aside{
    width: 300*@px;
    margin-left: 22*@px;
    @media (max-width: 700px){
        display: none;
    }
}

.footer{
    height: 50*@px;
    margin-top: 20*@px;
}