@import "./const.less";
html{
    height: 100%;
    font-size: @base-size;
    background-color: @bg-color;
}
html,body,div,h1,h2,h3,h4,h5,h6,header,article,nav,ul,li,table,tr,td,th,tbody,span,p,a,b,strong,input,textarea,form,input{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p, article, article table, h1, h2, h3, h4, h5, h6 {
    color: #464646;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: 600;
    color: #4e4e4e;
    word-wrap: break-word;
}
body{
    overflow: auto;
    color: @text-color-normal;
    font-size: 14*@px;
    min-width: 320*@px;
    font-family: -apple-system,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
ul,li{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
input,textarea{
    outline: none;
    border: none;
}
// [flex]{
//     display:  flex;
//     &[aligin='center']{
//         align-items: center;
//     }
//     &[justify='center']{
//        justify-content: center;
//     }
// }
:global{
    .fl{
        float: left;
    }
    .fr{
        float: right;
    }
    .app-root{
        padding-top: @navH;
    }
    .icon{
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
        width: 16*@px;
        height: 16*@px;
    }
    .gray{
        color: @text-color-gray;
    }
    .small{
        font-size: 12*@px;
    }
    .flex-center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .flex-between{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .flex-end{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .flex-start{
        display: flex;
        align-items: center;
    }
    .flex{
        display: flex;
    }
}
